<% @users.each do |user| %>
  <article class='user_card_container'> 
    <%= image_tag user.photo, :class => 'user_photo', alt: 'User photo' %>
    <h2 class="user_name"><%= user.name %></h2>
    <p>Number of posts: <%= user.posts_count.nil? ? 0 : user.posts_count %></p>
  </article>
<% end %>