.post_card_container {
  gap: 1em;
  padding: 1em;
  display: flex;
  margin: 1.4em 0;
  border: 3px solid;
  flex-direction: column;
}

.post_stats {
  gap: 2em;
  display: flex;
  align-self: flex-end;
}

.comments_container {
  gap: 0.4em;
  display: flex;
  padding: 1em;
  border: 3px solid;
  flex-direction: column;
}

.full_comments_container {
  gap: 0.4em;
  padding: 1em;
  display: flex;
  border: 3px solid;
  flex-direction: column;
}

form {
  gap: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_title,
.form_text {
  padding: 1em;
  width: 60vw;
  border: 3px solid;
}

.form_title {
  height: 10vh;
}

.form_text {
  height: 50vh;
}

.form_title::placeholder,
.form_text::placeholder {
  padding: 1em;
}
